<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bienvenue sur Exam Platform</title>
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="icon" href="../public/css/image.png" type="image/png" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="page-transition">
   
    <form action=""></form>
        <!--main-->
        <div class="main-wrapper">
            <main class="index-login-container">
                <img src="../public/css/logo2.png" alt="ExamLink Logo" class="logo"  />

                <h1 class="site-title">Bienvenue sur Exam Platform</h1>
                <p class="site-description">Votre Meilleur Platform d'examens</p>
                <hr />
                <div class="button-group">
                    <button class="btn btn-primary" onclick="signUp()">S'inscrire</button>
                    <button class="btn btn-secondary" onclick="logIn()">Se connecter</button>
                </div>
                
            </main>
        </div>
    </form>

    <footer class="footer">
        <p>Sécurité | Fiabilité | Performance</p>
        <p>© 2025 Exam Platform. All rights reserved.</p>
    </footer>

    <script src="../public/js/main.js"></script>
</body>
</html>